.container{
  float: center;
  position: relative;
  margin: 0 auto;
  display: inline;
}
.center{
  height: 10px;
  position: relative;
  float: center;
  margin: 0 auto;
}
.planet{
    position:absolute;
    top:0;
    left:0;
    width:60px;
    height:10px;
    background:#333;
    border-radius:30%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);

}
.planet2{
  position:absolute;
  top:25;
  left:25;
  width:60px;
  height:10px;
  background:#333;
  border-radius:30%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
}

.planet3{
    position:absolute;
    top:50;
    left:50;
    width:60px;
    height:10px;
    background:#333;
    border-radius:30%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);

}

.planet4{
    position:absolute;
    top:100;
    left:100;
    width:60px;
    height:10px;
    background:#333;
    border-radius:30%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);

}
.planet5{
    position:absolute;
    top:140;
    left:140;
    width:30px;
    height:10px;
    background:#333;
    border-radius:30%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);

}
.planet6{
    position:absolute;
    top:160;
    left:160;
    width:20px;
    height:10px;
    background:#333;
    border-radius:30%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);

}
.planet7{
    position:absolute;
    top:10;
    left:10;
    width:80px;
    height:10px;
    background:#333;
    border-radius:30%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);

}
.planet8{
  position:absolute;
  top:75;
  left:75;
  width:60px;
  height:10px;
  background:#333;
  border-radius:30%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
}
.planet9{
    position:absolute;
    top:180;
    left:180;
    width:20px;
    height:10px;
    background:#333;
    border-radius:30%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);

}
.planetCircle{
  position:absolute;
  top:215;
  left:215;
  width:20px;
  height:20px;
  background:red;
  border-radius:50%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
}

.sunCircle{
  width:450px;
  height:450px;
  position:absolute;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -webkit-animation-duration:10s; auto;
  margin: 100 auto;
  margin-left: 100px;
}
.sun{
    width:450px;
    height:450px;
    position:absolute;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit5;
    -webkit-animation-duration:10s; auto;
    margin: 100 auto;
    margin-left: 100px;
}
.sun2{
  width:450px;
  height:450px;
  position:absolute;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit2;
  -webkit-animation-duration:15s;
  margin: 100 auto;
  margin-left: 100px;
}
.sun3{
  width:450px;
  height:450px;
  position:absolute;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -webkit-animation-duration:7s;
  margin: 100 auto;
  margin-left: 100px;
}
.sun4{
  width:450px;
  height:450px;
  position:absolute;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit2;
  -webkit-animation-duration:5s;
  margin: 100 auto;
  margin-left: 100px;
}

.sun5{
  width:450px;
  height:450px;
  position:absolute;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit3;
  -webkit-animation-duration:10s;
  margin: 100 auto;
  margin-left: 100px;
}

.sun6{
  width:450px;
  height:450px;
  position:absolute;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit4;
  -webkit-animation-duration:15s;
  margin: 100 auto;
  margin-left: 100px;
}

@-webkit-keyframes orbit4 {
from { -webkit-transform:rotate(540deg) }
to { -webkit-transform:rotate(900deg) } }

@-webkit-keyframes orbit5 {
from { -webkit-transform:rotate(270deg) }
to { -webkit-transform:rotate(630deg) } }

@-webkit-keyframes orbit3 {
from { -webkit-transform:rotate(180deg) }
to { -webkit-transform:rotate(540deg) } }

@-webkit-keyframes orbit2 {
from { -webkit-transform:rotate(360deg) }
to { -webkit-transform:rotate(0deg) } }

@-webkit-keyframes orbit {
from { -webkit-transform:rotate(0deg) }
to { -webkit-transform:rotate(360deg) } }
